<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="csrf-token" content="{{ session.csrf }}">
  <title>LAMP+ | {{ title|default('Websites') }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='controls.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='brand/logo.png') }}">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
